* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PopLight";
  font-weight: 300;
  src: url("./fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "PopReg";
  font-weight: 500;
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PopBold";
  font-weight: 700;
  src: url("./fonts/Poppins-Bold.ttf");
}
